$primary-blue-dark: #080453;
$primary-blue: #0037b2;
$primary-blue-light: #0592f9;
$primary-blue-lighter: #5de8f9;
$primary-pink: #af005d;
$primary-red: #af0000;
$primary-purple: #5b007a;
$primary-yellow: #ffe415;
$primary-black: #000000;
$primary-white: #ffffff;
$primary-black-grey: #1f1f1f;
$primary-grey: #292929;
$primary-grey-overlay: #1d1d1d7c;
$dark-grey: #d8d8d8;
$primary-light-grey: #bfbfbf;
$light-grey-bg: #f1f1f1;
$control-bg: #c7c7c7;
$control-bg-2: #f1f1f1;
$btn-roll: #af005d;