$font: 'Montserrat',
sans-serif;
// $menu-height: 8rem;
$menu-height: 7rem;
$med-break: 1025px;
$small-break: 850px;
$xsmall-break: 400px;
$large-break: 1440px;
$xlarge-break: 1800px;
$ipad-pro-portrait: 1024px;
$ipad-pro-landscape: 1366px;
$ipad-portrait: 768px;
$ipad-landscape: 1024px;