.intro-switch {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 0 0 2rem 0;
    max-width: 100vw;
    max-height: 50vh;
    .image-holder {
        img {
            height: 45vh;
            margin: 0 auto;
            @media screen and (max-width: $small-break) {
                height: 40vh;
            }
        }
    }
    .button-holder {
        display: flex;
        flex-direction: row;
        width: 10rem;
        z-index: 50;
        align-items: center;
        justify-content: space-between;
        .btn-show {
            font-size: 2rem;
            color: $primary-blue-lighter;
            &.selected {
                font-size: 3rem;
            }
        }
    }
}